.menu-list {
  border-radius: 20px;
}
.menu-list .common-table {
  margin-top: 20px !important;
}
.menu-list .common-table .ant-table-cell {
  font-size: 14px;
}
.menu-list .common-table .ant-table-cell .anticon {
  font-size: 24px;
  cursor: pointer;
}
.menu-list .list-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
